/* product card */

.card-vertical .card-overlay{
    z-index: 1;
}

.card-vertical .card-price-content{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.card-vertical .rating-pill-text{    
    font-weight: 500;
    font-size: 0.85rem;
}

.card-vertical .rating-pill .fa-star{
    font-size: 0.7rem;
    color: var(--star-color);
}

.card-vertical .rating-pill{
    padding: 0.25rem 0.5rem;
    gap: 0.2rem;
    border-radius: var(--border-radius);
}

.card-vertical button{
    font-size: 1rem;
    font-weight: 600;
}

.card-vertical .red-heart{
    color: #ff4343;
}

.card.card-vertical{
    width: 17rem;
    height: 26rem;
}

.card.card-vertical img{
    height: 18rem;
}

.card.card-vertical .btn{
    height: 2rem;
} 

/* || media queries */

@media only screen and (max-width:480px){
    .card.card-vertical{
        width: 13rem;
        height: 20rem;
    }
    
    .card.card-vertical img{
        height: 13rem;
    }

    .card .card-title{
        font-size: 1rem;
    }
    
    .card .rating-container{
        gap: 0.2rem;
    }

    .card-vertical .card-price-content{
        gap: 0.2rem;
    }
}