/* filter */
.filter{
    padding: 2rem;
}

.filter ul{
    margin: 1.5rem 0;
}

.filter li{
    list-style: none;
    margin: 0.5rem 0;
}

.filter label{
    font-weight: 400;
}

.filter-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input input{
    margin: 0 0.5rem;
}
.input label{
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btn-filter{
    margin-top: 1rem;
}

/* products listing */

.empty-state{
    margin: 4rem 0;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}

.product-page-container{
    display: grid;
    grid-template-columns: 16rem 1fr;
}

.product-page-container .page-title{
    text-align: left;
    margin-left: 2rem;
    margin-bottom: 0;
}

.product-page-container .page-title span{
    font-size: 1.2rem;
    font-weight: 300;
}

.product-page-container .btn-primary-outline{
    margin-left: auto;
    margin-right: 2rem;
    font-size: 1rem;
    font-weight: 700;
    display: none;
}

.product-page-container .btn-primary-outline:hover .btn-primary-icon{
    color: white;
}

.btn-close{
    margin-left: auto;
}

/* || media queries */

@media only screen and (max-width:850px){
    .filter{
        display: none;
        position: fixed;
        z-index: 2;
        background: white;
        overflow-y: scroll;
        height: 90vh;
    }

    .product-page-container{
        grid-template-columns: 1fr;
    }
    
    .product-page-container .btn-primary-outline{
        display: block;
    }
}

@media only screen and (min-width:850px){
    .filter .fa-times{
        display: none;
    }
}