/* mockman-css */
@import url("https://unpkg.com/mockman-js@latest/dist/style.css");

/* vacay-ui css */
@import url("https://vacay-ui.netlify.app/components/vacay.css");

/* reset css */
button{
    background: transparent;
}

input[type="radio"],input[type="range"],input[type="checkbox"]{
    cursor: pointer;
}

/* common css */
.page-title{
    text-align: center;
    margin: 2rem 0;
}

.product-cards-container{
    padding: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

.product-cards-container:nth-child(n){
    justify-items: center;
}

/* empty cart wishlist */

.container-error-page{
    text-align: center;
}

.container-error-page .btn{
    margin: 0.5rem auto;
    width: fit-content;
}

.container-error-page img{
    max-width: 20rem;
}